body {
    height: 100vh;
}
.container {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: aqua;
}
.box2 {
    background-color: brown;
}
.box3 {
    background-color: tomato;
}
.box4 {
    background-color: chartreuse;
}